@model IDGS901_tema1.Models.Traductor

@{
    ViewBag.Title = "obtenerCampos";
}

<h2>Traductor</h2>

@using (Html.BeginForm("BuscarPalabras", "Traductor", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Palabra</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.palabra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.palabra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.palabra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.RadioButtonFor(model => model.eleccion, "1")@Html.Label("Español")
                    @Html.RadioButtonFor(model => model.eleccion, "2")@Html.Label("Inglés")
                </div>
            </div>
        </div>

        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calcular" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
